
body {
    background-color: #000000;
    font-family: "PT Sans";
    color: "white"
}
.jumbotron {/*  tells the stylesheet to apply the changes only to divs with a class of "jumbotron."*/
    background-size: 100% 100%;/*The size of the background is set to span the entire width and height of the element, no matter the size of the viewport. */
    color: #f7f7f7; /*We've aligned the text to be in the center of the element.*/
    background-image: url("https://miro.medium.com/max/10000/1*BNI3K8QDkL8rhFiG-jvFrQ.jpeg"); /*We specify a background image, then tell the code where the image is stored.*/
    height: 400px; 
    background-position: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 680px;
    height: 100%;
    background-color: #ffd500;
    border-radius:10px; /* round corners */
    border: 6px solid white;
}

.header{
    height: 140px;
    background-color: #000;
}

.main{
    margin: -100px 40px 0;
    height: 100%;
}

.main-header {
    height: 130px;
    
}

.main-header h1 {
    font-weight: bold;
    width: 610px;
}

.main-content h2{
    margin: 0 20px;
    padding: 20px 0;
    font-weight: bold;
    color: #000;
    text-align: center; 
    font-size: 300x;
}
/* .jumbotron {
    background-size: 100% 100%;
    color: white; 
    background-image: url("https://www.cedars-sinai.org/content/dam/cedars-sinai/blog/2020/06/viruses-bacteria-fungi.jpg");
    background-position: center;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
.well {
    background-color: white;
}
h5 {
    font-weight: 550;
    color: #002851;
    font-stretch: expanded;
}
.panel {
    font-stretch: expanded;
}
.panel-default>.panel-heading-custom{
    background: #004f9f;
    color: white;
}

/* .btn {
    padding: 15px 50px;
    border: 1;
    border-color: white;
    background: #632307;
    color: #fff;
} 