
{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row p-2">
            <div class="col-sm-6">
                <div class="card" data-aos="fade-up">
                    <div class="card-body">
                        <h2 class="card-title">IMDb: Ratings On Demand</h2>
                        <h3 class="card-subtitle text-muted">Using Machine Learning To Predict Movie Scores</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                                doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                                libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                                oluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                                fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                                ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                                pariatur molestias. Eum praesentium totam error aliquam,
                                tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?
                        </p>
                        <a href="https://github.com/danielbrock4/Ratings_On_Demand" class="card-link">GitHub</a>
                        <!-- ADD LINK -->
                        <a href="#" class="card-link">Presentation</a>
                    </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card" data-aos="fade-up">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
        </div>
    </div>   

    <div class="container">
        <!-- Heading -->
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-body">
                    <h2 class="card-title text-center">Findings</h2>
                </div>
            </div>
        </div>

        <!-- Scott -->
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 1</div>
                <div class="card-body">
                    <div id="chart1"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Robert -->
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 2</div>
                <div class="card-body">
                    <div id="chart2"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Emilio -->    
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 3</div>
                <div class="card-body">
                    <div id="chart3"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Daniel -->   
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 4</div>
                <div class="card-body">
                    <div id="chart4"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>
    </div>    


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">  
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});

        var graphs4 = {{ graph4JSON | safe}};
        Plotly.plot("chart4", graphs4,{});
    </script> 

{% endblock %}