
{% extends "base.html" %}
{% block content %}

    <!--Summary and Results -->
    <div class="container">
        <div class="row p-2">
            <div class="col-sm-6">
                <div class="card" data-aos="fade-up">
                    <div class="card-body">
                        <h2 class="card-title">IMDb: Ratings On Demand</h2>
                        <h3 class="card-subtitle text-muted">Using Machine Learning To Predict Movie Scores</h3>
                        <br>
                        <h5 class="card-subtitle">Project Overview</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                                doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                                libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                                oluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                                fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                                ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                                pariatur molestias. Eum praesentium totam error aliquam,
                                tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?
                        </p>        
                        <br>
                        <h5>Technology Used</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Python</li>
                            <li class="list-group-item">PostgreSQL</li>
                            <li class="list-group-item">AWS</li>
                            <li class="list-group-item">Flask</li>
                            <li class="list-group-item">HTML/CSS</li>
                    </div>
                </div>
            </div>    
            <div class="col-sm-6">
                <div class="card" data-aos="fade-up">
                    <img class="card-img-top" src="../static/images/image1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Project Analysis</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                                doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                                libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                                oluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                                fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                                ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                                pariatur molestias. Eum praesentium totam error aliquam,
                                tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?
                        </p>
                        <a href="https://github.com/danielbrock4/Ratings_On_Demand" class="btn btn-primary border-dark">GitHub</a>
                        <a href="https://github.com/danielbrock4/Ratings_On_Demand/tree/main/resources" class="btn btn-primary border-dark">Data Sources</a>
                        <!-- MISSING -->
                        <a href="#" class="btn btn-primary border-dark">Presentation Slides</a>
                    </div>
                </div>
            </div>       
        </div>
    </div>

    <!--Team Members -->   
    <div class="container">
        <div class="row p-2">
            <div class="card mb-4 m-auto text-black bg-warning" style="width: 100%;" data-aos="fade-left">
                <div class="card-body">
                    <h2 class="card-title text-center">Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="card-group">
                <div class="card m-auto" data-aos="fade-up">
                    <img class="card-img-top" src="../static/images/headshot_scott.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Scott Bretag</h5>
                      <a href="https://github.com/sbretag" class="card-link">Github</a>
                      <a href="https://www.linkedin.com/in/scott-bretag-74a7779/" class="card-link">LinkedIn</a>
                    </div>
                  </div>
                <div class="card m-auto" data-aos="fade-up">
                    <!-- MISSING -->
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Robert Walker</h5>
                      <a href="https://github.com/rwalke18" class="card-link">Github</a>
                      <a href="https://www.linkedin.com/in/rlwiv/" class="card-link">LinkedIn</a>
                    </div>
                  </div>
                <div class="card m-auto" data-aos="fade-up">
                  <img class="card-img-top" src="../static/images/headshot_emilio.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Emilio Caraballo Castro</h5>
                    <a href="https://github.com/Emilio-2021" class="card-link">Github</a>
                    <a href="https://www.linkedin.com/in/emiliocaraballocastro/" class="card-link">LinkedIn</a>
                  </div>
                </div>
                <div class="card m-auto" data-aos="fade-up">
                    <img class="card-img-top" src="../static/images/headshot_daniel.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Daniel Brock</h5>
                      <a href="https://github.com/danielbrock4" class="card-link">Github</a>
                      <a href="https://www.linkedin.com/in/daniellaurensbrock/" class="card-link">LinkedIn</a>
                    </div>
                  </div>
              </div>
        </div>
    </div>

    <!-- Result Graphs -->
    <div class="container">
        <!-- Heading -->
        <div class="row p-2">
            <div class="card mb-4 m-auto text-black bg-warning" style="width: 100%;" data-aos="fade-left">
                <div class="card-body">
                    <h2 class="card-title text-center">Project Results</h2>
                </div>
            </div>
        </div>

        <!-- Scott -->
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 1</div>
                <div class="card-body">
                    <div id="chart1"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Robert -->
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 2</div>
                <div class="card-body">
                    <div id="chart2"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Emilio -->    
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 3</div>
                <div class="card-body">
                    <div id="chart3"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>

        <!-- Daniel -->   
        <div class="row p-2">
            <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                <div class="card-header">Graph 4</div>
                <div class="card-body">
                    <div id="chart4"></div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quibusdam beatae eos esse hic tempore, itaque dolor quod. Eligendi debitis 
                        doloremque itaque architecto velit autem suscipit ut laborum optio maxime at 
                        facere perspiciatis quae molestiae nemo, saepe impedit. Quaerat corporis eius 
                        libero fugit. Debitis non nobis repudiandae ex soluta vero repellendus omnis eos, 
                        voluptate mollitia dolorem asperiores sint itaque consequuntur voluptatum totam 
                        fugit aut nemo maiores! Laboriosam quidem error possimus nobis eligendi dolor aut 
                        ullam voluptas officiis similique placeat modi, eaque voluptates dolores odit optio, 
                        pariatur molestias. Eum praesentium totam error aliquam,
                        tempore in quia exercitationem! Temporibus corporis asperiores esse ipsum?</p>
                </div>
            </div>
        </div>
    </div>    


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">  
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});

        var graphs4 = {{ graph4JSON | safe}};
        Plotly.plot("chart4", graphs4,{});
    </script> 

{% endblock %}