{% extends "base.html" %}
{% block content %}
and this is another text
<div class="container">
    <div class="row p-2">
        <div class="col-md-14">
            <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <h2 class="card-title">Actors and Movies Search Bar</h2>
                    <h4 class="card-subtitle text-muted">Explore Our Dataset</h4>
                    <br>
<div class="container">
  <p class="lead">Explore the movies in our dataset by searching for the actors and actresses staring in them.</p>
  <hr class="my-4">
  <h5>Enter Name:</h5>
<form method="post" action='/customActor'>
    <table>
        <tr>
            <td>
                <input type="text" name="customActor"><br>
            </td>
            <td>
                <input type="submit" value= "Submit" />
            </td>
        </tr>
    </table>
</form>
</div>
<hr class="my-4">
<div class="container">
    <h5 >Or Search By Initial:</h5>
<form method="post" action='/actorlist'>
    <table>
        <tr>
        {% for row in row_data %}
            {% for col, row_ in zip(column_names, row) %}
            {% if col == link_column %}
            <th>
                <input type="submit" value= {{ row_ }} name="actorIndex" class="btn btn-primary" />
            </th>
            {% else %}
            <th>{{row_}}</th>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    </table>
</form>
</div>
<br />
<hr class="my-4">
<div class="container">
{% if t == 1 %}
    <h3>Top 20 Results</h3>
{% else %}
    <h3>Actor Name: "{{nm}}"</h3>
    <h5 class="text-muted">Featured Movies:</h5>
{% endif %}

<form method="post" action='/movielist' id="form2">
    <table>
        {% for row in arow_data %}
        <tr>
            {% for col, row_ in zip(acolumn_names, row) %}
            {% if col == alink_column %}
            <td>
                <button type="submit" value="{{ row_ }}" name="actorName" form="form2" class="btn btn-primary">
                    {{ row_ }}
                </button>
            </td>
            {% else %}
            <td class="card-text"> - {{row_}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>
</div>
{% endblock %}