* { padding: 0%;
    margin: 0%;
}

body{
  background-image: url("https://miro.medium.com/max/10000/1*BNI3K8QDkL8rhFiG-jvFrQ.jpeg");
}

.navbar-text{
    color: black;
}

.navbar{
  background-color: #ffd500;
}

.navbar-brand{
  color: black;
  font-family: Impact, fantasy;
  font-size: 3rem; 
}

.navbar-brand:hover{
  color: white;
  font-family: Impact, fantasy;
}

.navbar-item{
  color: black;
}

.nav-link{
  font-family: Impact, fantasy;
  color: black;
}

.card-link{
  color: darkblue;
}

.nav-link:hover{
  color: white;
}

.card-body{
  font-family: Impact, fantasy;
}

.card-text{
  font-family: Arial, sans-serif;
}

.card-header{
  font-family: Impact, fantasy;
  color: black;
  font-size: 2rem; 
}

.btn{
  font-family: Impact, fantasy;
  background-color: #ffd500;
  color: black;
}

.btn:hover{
  font-family: Impact, fantasy;
  background-color: black;
  color: white;
}

.list-group-item{
  font-family: Arial, sans-serif;
}

.lead{
  font-family: Arial, sans-serif;
}