<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Actors Movies</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--
    <link rel="stylesheet" href="static/css/style.css">
    -->
</head>
<body >
    <div class="container">
        <h1 class="display-4">Actors and their movies!</h1>
  <p class="lead">This is a simple formulary to query a database for an actor name.</p>
  <hr class="my-4">
<h3>Enter an actor name:</h3>
<form method="post" action='/customActor'>
    <table>
        <tr>
            <td>
                <input type="text" name="customActor"><br>
            </td>
            <td>
                <input type="submit" value= "Submit" />
            </td>
        </tr>
    </table>
</form>
</div>
<hr class="my-4">
<div class="container">
    <h3>or pick an actor name initial:</h3>
<form method="post" action="/actorlist">
    <table>
        <tr>
        {% for row in row_data %}
            {% for col, row_ in zip(column_names, row) %}
            {% if col == link_column %}
            <th>
                <input type="submit" value= {{ row_ }} name="actorIndex" />
            </th>
            {% else %}
            <th>{{row_}}</th>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    </table>
</form>
</div>
</body>
</html>