
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap Style Sheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
     <!-- Animation https://github.com/michalsnik/aos -->

    <!-- Created if function referring to routes app.routes so that title changes with webpage--> 
    {% if title %}
        <title>Ratings On Demand-{{title}}</title>
    {% else %}
        <title>Ratings On Demand</title>
    {% endif %}

</head>

<body>

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="https://ratingsondemand.herokuapp.com/">IMDb: Ratings On Demand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="https://ratingsondemand.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ratingsondemand.herokuapp.com/search_bar">Actors & Movies Search Bar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/danielbrock4/Ratings_On_Demand">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/presentation/d/1RqcdU3vLPqZ9CNDki9j3r28mJyeZuCQkzV43hPen5X8">Presentation</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- base.html block -->
    <main>       
        {% block content %}
        {% endblock %}
    </main>

    <!-- Scripts for JavaScript for Bootstrap plugins-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!--Animation https://github.com/michalsnik/aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 400,
        duration: 1000
      });
    </script>

</body>
</html>